# Inroduction to Python

## Python Comments

In [1]:
#Single Line comment

In [2]:
"""
This is 
a Multi
Line 
Comment
"""

'\nThis is \na Multi\nLine \nComment\n'

## Python Variables

In [3]:
name="Md.Samiul Alim" #String
age=22 #Integer
is_Student=True #Boolean
cgpa=3.82 #Float

In [9]:
print("Name =",name)
print("Age =",age)
print("Is Student =",is_Student)
print("CGPA =",cgpa)

Name = Md.Samiul Alim
Age = 22
Is Student = True
CGPA = 3.82

## Python Data types

In [13]:
#integer type
num=10
print(num)
print(type(num))

10
<class 'int'>

In [14]:
#float type
cgpa=3.82
print(cgpa)
print(type(cgpa))

3.82
<class 'float'>

In [16]:
#String
name="Md.Samiul Alim"
print(name)
print(type(name))

Md.Samiul Alim
<class 'str'>

In [18]:
#complex
a=1+2j
b=1-2j
print(a+b)
print(a)
print(type(a))

(2+0j)
(1+2j)
<class 'complex'>

In [19]:
#boolean
is_true=True
print(is_true)
print(type(is_true))

True
<class 'bool'>

## Python Casting

In [20]:
#integer Casting
x=int(1)
y=int(2.5)
z=int("2")
print(x,y,z)
print(type(x),type(y),type(z))

1 2 2
<class 'int'> <class 'int'> <class 'int'>

In [22]:
#float casting
x=float(2.2222)
y=float("2.4")
print(x,y)
print(type(x),type(y))

2.2222 2.4
<class 'float'> <class 'float'>

In [23]:
#String casting
x=str(1)
y=str(2.3)
print(x,y)
print(type(x),type(y))

1 2.3
<class 'str'> <class 'str'>

## Python Input/Output

In [25]:
#taking input
name=input("Enter your name")
print(name)

Enter your namesamiul alim
samiul alim

In [26]:
#Without Casting Inputs are String
age=input("Enter your age ")
print(age)
print(type(age))

Enter your age 22
22
<class 'str'>

In [28]:
#Taking Input With Casting
name=input("Enter your name: ")
age=int(input("Enter your age: "))
cgpa=float(input("Enter your cgpa: "))
print(name,age,cgpa)

Enter your name: Samiul Alim
Enter your age: 22
Enter your cgpa: 3.8
Samiul Alim 22 3.8

In [35]:
#Taking Multiple Input in a Single Line
x,y,z=input("Enter Values: ").split()
print(x,y,z)
print(type(x))

Enter Values: 2 3 4
2 3 4
<class 'str'>

In [37]:
#Taking multiple int in a single line
List=input("Enter multiple value saperated by space ")
input_list=List.split();
x,y,z=map(int,input_list[:3])
print(x,y,z)

Enter multiple value saperated by space 1 3 4
1 3 4

In [39]:
FloatList=input("Enter multiple value for float")
f_list=FloatList.split()
a,b,c=map(float,f_list[:3])
print(a,b,c)

Enter multiple value for float12.22 1.22 3.333
12.22 1.22 3.333

## Python String

In [45]:
#single quote
name='samiul alim sami'
name2="Samiul alim sami"
print(name,'=',name2)

samiul alim sami = Samiul alim sami

In [47]:
#string concatanation
str1="Samiul"
str2="Alim"
print(str1,str2)

Samiul Alim

In [55]:
#Modify Print
print(str1,'',str2,sep='',end='?')
print()
print(str1,'',str2,sep='-',end='!')

SamiulAlim?
Samiul--Alim!

In [57]:
#length
print(len(str1))
print(len(str2))

6
4

In [60]:
#builtin functions
course_name="Machine Learning"
print(course_name[0])

M

In [61]:
print(course_name[0:])

Machine Learning

In [62]:
print(course_name[0:7])

Machine

In [67]:
print(course_name.upper())

print(course_name.lower())

MACHINE LEARNING
machine learning

In [69]:
mathh="Mathh 350"
mathh.upper()

'MATH 350'

In [81]:
n=mathh.find("h")
print(n)

3

In [87]:
test="      samiul     "
print(test.strip())

samiul

## Python Lists

In [129]:
#create Lists
numbers=[1,2,3,4,5]
name=['Alice','Bob','Sami']
mixed=[1,3,5,'abc']
course=["CSE115","Mat116","Eng103"]
print(numbers)
print(name)
print(mixed)

[1, 2, 3, 4, 5]
['Alice', 'Bob', 'Sami']
[1, 3, 5, 'abc']

In [112]:
print(type(numbers))

<class 'list'>

In [130]:
print(course)

['CSE115', 'Mat116', 'Eng103']

In [90]:
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 8]

In [94]:
print(numbers)

[1, 2, 3, 4, 5, 8, 22, 33, 44, 22, 33, 44]

In [99]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [101]:
numbers.extend([11,12])
print(numbers)

[1, 2, 3, 4, 5, 11, 12, 11, 12]

In [102]:
print(numbers)

[1, 2, 3, 4, 5, 11, 12, 11, 12]

In [103]:
numbers.reverse()
print(numbers)

[12, 11, 12, 11, 5, 4, 3, 2, 1]

In [125]:
numbers.sort()
print(numbers)
for i in numbers:
    print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

## For Loop

In [108]:
for i in range(1,5):
    print(i)
print("Ends")

1
2
3
4
Ends

In [110]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

## Python Tuple

In [124]:
t=(1,2,3,4,5,6)
for i in t:
    print(i)
print(t)
print(t[0:3])

1
2
3
4
5
6
(1, 2, 3, 4, 5, 6)
(1, 2, 3)

## Python Sets

In [123]:
num={1,1,1,2,2,3,4}
print(num)
print("Length",len(num))

for i in num:
    print(i)

{1, 2, 3, 4}
Length 4
1
2
3
4

## Python Dictionaries

In [138]:
course={
    
  "Course Name":"Engineering Mathematics",
    "Course Code":"Mat350",
    "Course Inst":"Dr.Mamun Mollah",
    "Room No" : "Sac315",
    "Time":"3:05 AM-4:15 AM",
    "Phone":183838383
    
}
course

{'Course Name': 'Engineering Mathematics',
 'Course Code': 'Mat350',
 'Course Inst': 'Dr.Mamun Mollah',
 'Room No': 'Sac315',
 'Time': '3:05 AM-4:15 AM',
 'Phone': 183838383}

In [140]:
course["Course Name"]

'Engineering Mathematics'

In [141]:
print(course["Time"])

3:05 AM-4:15 AM

In [142]:
course.keys()

dict_keys(['Course Name', 'Course Code', 'Course Inst', 'Room No', 'Time', 'Phone'])

In [144]:
course.values()

dict_values(['Engineering Mathematics', 'Mat350', 'Dr.Mamun Mollah', 'Sac315', '3:05 AM-4:15 AM', 183838383])