## Python Lists

In [3]:
#creating and empty List
empty_list=[]
print(empty_list)
print(len(empty_list))
print(type(empty_list))

[]
0
<class 'list'>

In [5]:
list=[1,2.3,"Samiul",True]
print(list)
#indexing
print(list[0])

[1, 2.3, 'Samiul', True]
1

In [8]:
#slicing
num=[1,2,3,4,5,6]
print(num[0:4])
print(num[0:3])
print(num[1:4])
print(num[::2])

[1, 2, 3, 4]
[1, 2, 3]
[2, 3, 4]
[1, 3, 5]

In [10]:
num.append(7)
print(num)

[1, 2, 3, 4, 5, 6, 7, 7]

In [11]:
num.remove(7)
print(num)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
num.extend([8,9])
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
num.pop()

print(num)
num

[8, 7, 6, 5, 4, 3]

[8, 7, 6, 5, 4, 3]

In [18]:
num2=[1,2,3,4,5]
num2.reverse()
num2

[5, 4, 3, 2, 1]

In [21]:
num2.sort()
print(num2)

[1, 2, 3, 4, 5]

## Loops
* For Loop
* While Loop

In [22]:
#range
range(0,3)

range(0, 3)

In [24]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [25]:
fruits=['apple','banana','cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [30]:
students =['Sami','Mushfiq','Tahsin','Sahil']
students.sort()
for name in students:
    print("Hi!",name)

Hi! Mushfiq
Hi! Sahil
Hi! Sami
Hi! Tahsin

In [32]:
#use enum with for loop
for index,name in enumerate(students):
    print("Studnet",index,":",name)

Studnet 0 : Mushfiq
Studnet 1 : Sahil
Studnet 2 : Sami
Studnet 3 : Tahsin

In [34]:
#Appending List
height=[1.75,1.66,1.9,1.63]
weights=[68,70,85,90]
bmi_values=[]
#calclations
for i in range(len(height)):
    bmi=round(weights[i]/(height[i]**2),2)
    bmi_values.append(bmi)

print(bmi_values)

[22.2, 25.4, 23.55, 33.87]

## While Loop

In [35]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

## Python Tuples
* ordered
* immutable
* Allow Duplicates
* Data type tuple

In [40]:
my_tup=(1,2,3,True,"Hi")
print(my_tup)
print(my_tup[2])

(1, 2, 3, True, 'Hi')
3

In [41]:
#unpacking tuple
num=(1,2,3)
a,b,c=num
print(a,b,c)

1 2 3

In [42]:
num[1]=22

TypeError: 'tuple' object does not support item assignment

In [43]:
num.append(33)

AttributeError: 'tuple' object has no attribute 'append'

## Python Dictinonaries

In [78]:
students={
    'name':['Sami','Mushfiq','Sahil','Tahsin','Riddat'],
    'cgpa':[3.3,3.1,3.0],
    'address':['usa','bangladesh','uk'],
    'Dept':['CSE'],
    'Major':['AI']
}
students

{'name': ['Sami', 'Mushfiq', 'Sahil', 'Tahsin', 'Riddat'],
 'cgpa': [3.3, 3.1, 3.0],
 'address': ['usa', 'bangladesh', 'uk'],
 'Dept': ['CSE'],
 'Major': ['AI']}

In [55]:
print(students['name'])

['Sami', 'Mushfiq', 'Sahil', 'Tahsin', 'Riddat']

In [80]:

del students['Major']

In [81]:
students

{'name': ['Sami', 'Mushfiq', 'Sahil', 'Tahsin', 'Riddat'],
 'cgpa': [3.3, 3.1, 3.0],
 'address': ['usa', 'bangladesh', 'uk'],
 'Dept': ['CSE']}

In [62]:
Riddat={
    'Name':'Emrah Hasan Bhuiyan',
    'Inst':'North South University',
    'ID': '2121909642',
    'CGPA':'Who knows',
    'GF Status':'YES',
    
}
Riddat

{'Name': 'Emrah Hasan Bhuiyan',
 'Inst': 'North South University',
 'ID': '2121909642',
 'CGPA': 'Who knows',
 'GF Staus': 'YES'}

key=Riddat.keys()
value=Riddat.values()
items=Riddat.items()
print(key)
print(value)
print(items)

## Conditional Statements

In [84]:
a=int(input("Enter an integer"))
if(a>100):
    print("Greater than 100")
elif a==100:
    print("Equal to 100")
    if(a%2==0):
        print("Even also")
else:
    print("Less than 100")

Enter an integer100
Equal to 100
Even also

## Python Functions

In [85]:
def greet():
    print("Hi! There")

In [86]:
greet()

Hi! There

In [93]:
def summ(a,b):
    return a+b

a=int(input())
b=int(input())
print(summ(a,b))

33
33
66

## Variable Scope

In [ ]:
global_var=10

def my_func()