In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

import joblib
from sklearn import tree

In [2]:
df=pd.read_csv('toy_dataset.csv')

In [3]:
df.describe()

              Number            Age         Income
count  150000.000000  150000.000000  150000.000000
mean    75000.500000      44.950200   91252.798273
std     43301.414527      11.572486   24989.500948
min         1.000000      25.000000    -654.000000
25%     37500.750000      35.000000   80867.750000
50%     75000.500000      45.000000   93655.000000
75%    112500.250000      55.000000  104519.000000
max    150000.000000      65.000000  177157.000000

In [4]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Number   150000 non-null  int64
 1   City     150000 non-null  object
 2   Gender   150000 non-null  object
 3   Age      150000 non-null  int64
 4   Income   150000 non-null  float64
 5   Illness  150000 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 6.9+ MB

In [6]:
X=df.drop(columns=['Illness','Number'])
y=df['Illness']

In [7]:
X.head()

     City Gender  Age   Income
0  Dallas   Male   41  40367.0
1  Dallas   Male   54  45084.0
2  Dallas   Male   42  52483.0
3  Dallas   Male   40  40941.0
4  Dallas   Male   46  50289.0

In [8]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
encoder=LabelEncoder()
y_train=encoder.fit_transform(y_train)

In [10]:
y_test=encoder.transform(y_test)

In [11]:
y_train

array([0, 0, 0, ..., 0, 0, 0])

In [12]:
transformer=ColumnTransformer(transformers=[
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['City','Gender'])
],remainder='passthrough')

In [13]:
x_train=transformer.fit_transform(x_train)

E:\AnacondaPython\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:
x_test=transformer.transform(x_test)

In [15]:
model=DecisionTreeClassifier(criterion='entropy')

In [16]:
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [17]:
y_pred=model.predict(x_test)

In [18]:
print('Test accuracy: ',accuracy_score(y_test,y_pred)*100)
print('Train accuracy: ',accuracy_score(y_train,model.predict(x_train))*100)

Test accuracy:  84.76
Train accuracy:  99.93666666666667